.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 1fr);
  float: right;
  margin-right: 50px;
}

.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  &:hover {
    background-color: greenyellow;
  }
}

.active {
  background-color: yellow;
}
