.playground-container {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  .turn {
    height: 50px;
    h2 {
      font-size: 28px;
      color: #fff;
      margin-top: 0;
    }
    h3 {
      font-size: 24px;
      color: #fff;
    }
  }

  .pg-flex-container {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 90%;
    .pg-flex-left {
      width: 50%;
      padding-right: 150px;
    }
    .pg-flex-right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 200px;
    }
  }

  .game-details {
    margin-top: 20px;
    p {
      font-size: 24px;
      color: #fff;
    }
  }

  .game-title {
    font-family: "Smokum", cursive;
    font-size: 54px;
    color: #fff;
    opacity: 0.9;
    margin: 20px 0 0 0;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 4rem;
    margin-bottom: 20px;
  }
}

.grid-container-big {
  width: 50%;
  margin: auto;
  h2 {
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: auto;
  }
}
.grid-container-big.ships-not-placed {
  width: 80% !important;
  margin: 20px 0;
}
.cell {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(4, 54, 119, 0.8);
  cursor: pointer;
  font-size: 24px;
}
.change-orientation {
  margin-right: 20px;
}
.cell-hover {
  &:hover {
    background-color: limegreen;
  }
}

.active {
  background-color: rgb(4, 54, 119) !important;
}

.action-grid {
  margin-top: 20px;
}
.ship-item-container {
  width: 80%;
  margin: auto;
  .ship-item {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background-color: rgb(128, 0, 32, 0.5);
    border-radius: 10px;
    cursor: pointer;
    img {
      width: 120px;
      height: 50px;
    }
    p {
      color: #fff;
      font-size: 14px;
      margin: 0;
    }
  }
}

.bars-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  .op-name {
    margin-left: 20px;
    width: 30%;
    margin: auto;
    p {
      color: #fff;
      font-size: 18px;
      span {
        font-size: 16px;
      }
    }
  }
  .bars {
    width: 40%;
    margin: auto;
    .acc-container {
      h2 {
        font-size: 18px;
        color: #fff;
        letter-spacing: 0.5px;
      }
      .acc-bar {
        padding: 10px;
        border-radius: 5px;
      }
    }

    .prog-container {
      h2 {
        font-size: 18px;
        color: #fff;
        letter-spacing: 0.5px;
        margin-top: 0;
      }
      .prog-bar {
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}

.ship-item-container-big {
  margin-top: 20px;
}

.waiting {
  color: "#fff";
  font-size: 24px;
}

// @media only screen and (max-width: 1750px) {
//   .ships-placed .pg-flex-container {
//     width: 80% !important;
//     justify-content: space-around;
//   }
//   .ships-placed .pg-flex-left {
//     width: 80% !important;
//   }
// }

// @media only screen and (max-width: 1500px) {
//   .ships-placed .pg-flex-container {
//     width: 100% !important;
//     justify-content: space-around;
//   }
//   .ships-placed .pg-flex-left {
//     margin-right: 0px;
//     width: 40% !important;
//   }
//   .ships-placed .pg-flex-right {
//     margin-right: 0px;
//     width: 50% !important;
//   }
//   .ships-placed .cell {
//     padding: 20px !important;
//   }
// }

@media only screen and (max-width: 1250px) {
  // .ships-placed .pg-flex-container {
  //   width: 100% !important;
  // }
  // .ships-placed .pg-flex-left {
  //   width: 50% !important;
  // }
  // .ships-placed .pg-flex-right {
  //   width: 50% !important;
  // }
  .ships-placed .cell {
    padding: 17px !important;
  }
  .grid-container-big.ships-not-placed {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1150px) {
  .ships-placed .cell {
    padding: 15px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .pg-flex-container {
    width: auto !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ships-placed .pg-flex-left {
    margin-right: 0px;
    width: 50% !important;
    padding-right: 0px;
  }
  .pg-flex-left {
    width: auto !important;
    // display: none;
    padding-right: 0px !important;
  }
  .ships-placed .pg-flex-right {
    margin-right: 0px;
    width: 50% !important;
    padding-right: 0px !important;
  }
  .pg-flex-right {
    width: auto !important;
    padding-right: 0px;
  }
  .ships-placed .grid-container-big {
    width: 100% !important;
  }
  .ships-placed .grid-container-big .grid-container {
    width: 100% !important;
  }
  .grid-container-big {
    width: auto !important;
  }
  .ships-placed .op-name {
    width: 60%;
  }
  .ships-placed .cell {
    padding: 15px !important;
  }
}

@media only screen and (max-width: 750px) {
  .ships-placed .pg-flex-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto !important;
  }
  .pg-flex-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto !important;
  }
  .ships-placed .cell {
    padding: 20px;
  }
  .cell {
    padding: 20px;
  }
  .ships-placed .pg-flex-left {
    padding-left: 0px;
    width: auto !important;
  }
  .pg-flex-left {
    padding-left: 0px;
    width: auto !important;
  }
  .ships-placed .pg-flex-right {
    width: auto !important;
  }
  .pg-flex-right {
    width: auto !important;
  }
  .ships-placed .grid-container-big {
    width: auto !important;
  }
  .grid-container-big {
    width: auto !important;
  }
  .ship-item-container {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .ships-placed .bars-container {
    margin-bottom: 40px;
    .op-name {
      width: 100%;
    }
    .bars {
      width: 80%;
    }
  }
  .ships-not-placed-button-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .change-orientation {
    margin: auto;
  }
  .ships-placed .grid-container-big {
    transform: initial !important;
    h2 {
      font-size: 22px;
    }
  }
  .ships-placed .cell {
    padding: 15px;
  }
  .ships-placed .pg-flex-right {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ships-placed .bars-container {
    flex-direction: column;
  }
  .cell {
    padding: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .ship-item img {
    display: none;
  }
  .ship-item {
    width: 100px;
    height: 60px;
  }
  .styled-button {
    font-size: 14px;
    margin: 10px 0;
    padding: 10px 20px;
  }
  .bars-container p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .ships-placed .cell {
    padding: 12px !important;
  }
  .cell {
    padding: 12px !important;
  }
}
