.homepage {
  width: 100%;
  .homepage-bg-image {
    background-image: url("../../images/battleship-hero-1-modified.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  .no-flex {
    display: block;
    justify-content: initial;
    align-items: initial;
  }
}
